App {
  background-color: #CDD193;  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  position: relative;
  width: 99%;
  background-color: #478C5C;
  float: right;
}

li {
  float: left;
  display: inline;
  color: white;
  font-size: 25px;
}

li a:hover {
  background-color: #BACC81;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
header{  
  /* min-height: 100vh; */
  background-color: #CDD193;
  margin: 0px;
  font-size: calc(10px + 2vmin);
  color: #013A20;
  padding: 0px 10px;
  margin-top: 0;
  margin-bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typed-out{
  overflow: hidden;
  font-family: 'Sura', serif;
  border-right: 3px solid #535E4B;
  white-space: nowrap;
  animation: typing 4s steps(50, end) forwards;
  font-size: 20px;
  width: 0;
  word-wrap: break-word;
}

/* need to adjust for screen size, but works for now */
@keyframes typing {
  from { width: 5 }
  to { width: 40% }
}

.side-buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.form {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  min-width: 200px; max-width: 100vw;
}

form.search {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  min-width: 200px; max-width: 100vw;
}

.container {
  display: flex; 
  justify-content: center;
  gap: 20px;
}

.card {
  color: black;
  background: #BACC81;
  height: 300px;
  width: 325px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px; 
  margin: 30px 10;
}

.submit {
    padding: 1px 10px;
    background-color: #478C5C;
    border: 2px solid #478C5C ;
    border-radius: 2px;
    color: white;
}
   
.submit:hover {
     padding: 1px 10px;
     background-color: #478C5C;
     border: 2px solid #478C5C ;
     border-radius: 2px;
     color: white;
     cursor: pointer;
}


.recipe-grid {
  margin-top: 30px;
  justify-content: center;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-column-gap: 30px;
  align-items: baseline;
}

.health-labels {
  padding: 3px 4px;
  border-radius: 2px;
}
