input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #478C5C;
    box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.navbar {
  mask-type: alpha;
  text-decoration: none;
  background-color: #BACC81;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}